Registro
@page "/Libro"

<div class="accordion-item">
    <div class="modal-header">
        <h1>Registro de Libro</h1>
    </div>
     <div class="accordion-body">  

      <label> for="libroId">LibroId</label>
    <Input class="form-control" />
    <button type="button" class="btn btn-primary"> Buscar </button>
      <br />
      <br />

   </div>

    <div class="accordion-flush">
        <button type="button" class="btn btn-primary" > Nuevo </button>
        <button type="button" class="btn btn-success" > Guardar</button>
    </div>
</div>

